name: CI

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]
  workflow_dispatch:

jobs:
  build-ubuntu-wheels:
    uses: ./.github/workflows/build-ubuntu.yml
  
  build-macos-wheels:
    uses: ./.github/workflows/build-macos.yml
